.el-divider {
    height: 0;
}

button {
    padding: 8px 10px;
    border-radius: 16px;
}

.splitline {
    height: 1px;
    margin: 8px;
}

.tx {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow-wrap: break-word;
    word-break: break-all;
    white-space: normal;
    overflow: hidden;
    
    &.a {
        display: inline-block;
        white-space:nowrap;
    }
    &.b {
        -webkit-line-clamp: 2;
    }
    &.c {
        -webkit-line-clamp: 3;
    }
    &.d {
        -webkit-line-clamp: 4;
    }
}
.el-popper{
    border: 0 !important;
}
.el-popover.el-popper{
    padding: 0;
}
.el-slider__button{
    border: 0;
}
html,
body,
#app {
  height: 100%;
  width: 100%;
}

#app {
  padding: 10px;
  box-sizing: border-box;
}
